<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <h1>My Blog</h1>
    <p>Hello. This is My Blog.</p>

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="search" />
    </form>

    <ul>
    {% for post in post_list %}
        <li>
            {{ post.id }}
            {{ post.title }}
            <small>by {{ post.author }}</small>
            <small>at {{ post.updated_at }}</small>
        </li>
    {% endfor %}
    </ul>

    <ul>
        <li>
            First Post
        </li>
        <li>
            Second Post
        </li>
    </ul>
</body>
</html>