{% extends "blog/layout.html" %}

{% block content %}
    <p>Hello. This is My Blog.</p>

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="search" />
    </form>

    <ul>
    {% for post in post_list %}
        <li>
            {{ post.id }}
            <a href='{% url "post_detail" post.id %}'>
                {{ post.title }}
            </a>
            <small>by {{ post.author }}</small>
            <small>at {{ post.updated_at }}</small>
        </li>
    {% endfor %}
    </ul>

    <ul>
        <li>
            First Post
        </li>
        <li>
            Second Post
        </li>
    </ul>
{% endblock %}
